<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.easytbk.flutter_duoyou">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS" />

    <application>
        <provider
            android:name="com.component.dly.xzzq_ywsdk.YwFileProvider"
            android:authorities="${applicationId}.YwFileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/ywsdk_file_paths" />
        </provider>
    </application>

</manifest>
